.places {
  display: grid;
  grid-template-columns: 1fr;
  gap: 80px;
}

.place {
  display: grid;
  grid-template-columns: 460fr 484fr;
  grid-template-rows: auto 1fr;
  column-gap: 40px;
  row-gap: 48px;
}

.place__title {
  margin: 0;
  font-size: 72px;
  line-height: 1.06;
  color: #fff;
}

.place__image {
  width: 100%;
  object-fit: cover;
}

.place__website {
  align-self: end;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.place__url-heading {
  font-size: 12px;
  line-height: 1;
  letter-spacing: .2em;
  color: #aaa;
}

.place__link {
  font-size: 18px;
  line-height: 1.22;
  color: #fff;
  margin-top: 12px;
  font-weight: normal;
}

.place__paragraph {
  margin: 0;
  margin-top: 24px;
  font-size: 18px;
  line-height: 1.63;
  font-weight: normal;
  color: #fff;
}

.place__paragraph:first-child {
  margin-top: 0;
}

@media screen and (max-width:1024px) {
  .place {
    column-gap: 32px;
    grid-template-columns: 440fr 456fr;
  }
}

@media screen and (max-width:768px) {
  .place {
    column-gap: 28px;
    grid-template-columns: 340fr 352fr;
  }

  .place__title {
    font-size: 42px;
    line-height: 1.1;
  }

  .place__paragraph {
    font-size: 16px;
    line-height: 1.63;
    font-weight: normal;
    color: #fff;
  }

}

@media screen and (max-width:425px) {
  .place {
    column-gap: 32px;
    grid-template-columns: 1fr;
  }

  .place__website {
    display: none;
    row-gap: 32px;
  }

  .place__title {
    font-size: 32px;
    line-height: 1.09;
    margin-left: 16px;
    margin-right: 16px;
  }

  .place__paragraph {
    margin-left: 16px;
    margin-right: 16px;
  }
}
