.footer__link {
  margin: 0;
  font-size: 16px;
  line-height: 1.12;
  font-weight: normal;
  color: #fff;
  text-decoration: none;
  margin-right: 18px;
}

.footer__link:last-of-type {
  margin-right: 0;
}

@media screen and (max-width:720px) {
  .footer__link {
    font-size: 24px;
    line-height: 1;
    margin-right: 0;
    margin-bottom: 18px;
  }

  .footer__link:last-of-type {
    margin-bottom: 48px;
  }
}
