.container_content_intro {
  padding-top: 92px;
  padding-left: 100px;
  padding-right: 100px;
}

/* Для плавного уменьшения отступов использую уравнение прямой по двум точкам
(х-х1)/(х2-х1) = (у-у1)/(у2-у1)
у = ((х-х1)(у2-у1))/(х2-х1) + у1
*/
@media screen and (max-width:1184px) {
  .container_content_intro {
    padding-left: calc((100vw - 1024px) * (100 - 48) / (1184 - 1024) + 48px);
    padding-right: calc((100vw - 1024px) * (100 - 48) / (1184 - 1024) + 48px);
  }
}

@media screen and (max-width:1024px) {
  .container_content_intro {
    padding-left: 48px;
    padding-right: 48px;
  }
}

@media screen and (max-width:768px) {
  .container_content_intro {
    padding-top: 88px;
    padding-left: 24px;
    padding-right: 24px;
  }
}

@media screen and (max-width:425px) {
  .container_content_intro {
    padding-top: 64px;
    padding-left: 16px;
    padding-right: 16px;
  }
}
