@import url(./_content/container_content_header.css);
@import url(./_content/container_content_lead.css);
@import url(./_content/container_content_intro.css);
@import url(./_content/container_content_photo-grid.css);
@import url(./_content/container_content_places.css);
@import url(./_content/container_content_cover.css);
@import url(./_content/container_content_footer.css);


/*
Микс для блоков. Все отступы и медиа-запросы будут указаны в модификаторах
Таким образом блоки будут более независимыми
*/
.container {
  box-sizing: border-box;
  width: 100%;
  min-width: 320px;
  max-width: 1280px;
  margin: 0 auto;
}

/*
Комментарий от Ревьюера Александра Семенова

По идее размеры блоков (секций в данном случае) - это то, что должно быть записано в селекторы самих блоков.
Решение с такими миксами тоже имеет право на жизнь, но тут надо понимать несколько вещей:
В макете есть секции только двух ширин. 1184px и 984px. Поэтому кажется, что здесь хватит двух классов. Что-то типа section для 1184px и модификатор section_narrow для 984px. Зачем нужен модификатор под каждую секцию, если их всего два типа непонятно.
При создании таких вот "общих" блоков с кучей модификаторов важно не допустить захламления проекта. Сейчас если захочется удалить какую-нибудь секцию из проекта нужно будет не забыть удалить и модификатор блока container. Практика показывает, что удалять неиспользуемые куски кода люди очень часто забывают. А когда руки все же дойдут до того, чтобы почистить проект от лишнего кода будет довольно сложно разобраться какие куски кода где-то используются, а какие можно удалить.
*/

/*
Ответ от студента Самойлова Евгения
Спасибо за комментарий. В первом варианте я так и сделал. У меня был один модификатор narrow.
Далее я подумал, что мне интересно, чтобы у блоков не было никаких внешних или внутренних отступов, а все эти отступы я бы регулировал модификаторами.
Так что этот вариант это больше как эксперимент.
Можно перенести все padding которые касаются блоков в сами блоки и оставить один модификатор.
Но я как-то задумался: а что, если мне на другой странице нужен будет какой-то блок с другими отступами и решил попробовать сделать блоки "голые" - без отступов
С Вами соглашусь в этой конкретно задаче достаточно одного модификатора.
Вариант с одним модификатором я уже делал и у меня получилась реализация. с Вашего позволения в данный момент я не буду возвращаться к нему, так как очень мало времени сегодня на доработки.
*/
