@import url(./_content/container_content_default.css);
@import url(./_content/container_content_lead.css);
@import url(./_content/container_content_intro.css);
@import url(./_content/container_content_places.css);
@import url(./_content/container_content_cover.css);

.container {
  box-sizing: border-box;
  max-width: 1280px;
  width: 100%;
  margin: 0 auto;
}
