.place__website {
  align-self: end;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

@media screen and (max-width:425px) {
  .place__website {
    display: none;
    row-gap: 32px;
  }
}
